html{
  font-size:20px;
}


body{
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

.google-fonts{
  font-family: "Josefin Sans",sans-serif;
}


h1{
  font-size:2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 3px 4px gray;
 
}

.decoration{
  border-bottom: solid 3px rgb(115,115,114);
}

.skyblue{
  color: skyblue;
}

.pink{
  color: rgb(255, 192, 203);
}

#basic p{
  font-weight: bold;
}